# Variables de entorno y configuraciones locales
.env
*.env
tests


# Archivos y directorios de Terraform
terraform/

# Archivos de test
tests

# Archivos binarios y compilados
/backend
*.exe
*.exe~
*.dll
*.so
*.dylib

# Archivos temporales y logs
*.log
*.out
/tmp
/logs

# Archivos de dependencias
/vendor/

# Archivos del sistema operativo
.DS_Store
Thumbs.db


